@page
@model EasyBook.Pages.IndexModel
<link href="~/css/rooms.css" rel="stylesheet" />
<link href="~/css/navbar.css" rel="stylesheet" />
<script src="~/js/index.js"></script>
@{
    ViewData["Title"] = "Forside";
}
<h2 id="title-text-index">Mødelokaler</h2>
        <body>
            <div class="container">
                @* C# loop for creating a table row for each meeting room *@
                @foreach (Model.MeetingRoom room in Model.MeetingRooms)
                {
                    <div>
                            <div class="card" id="card-@room.Id" style="width: 42rem;">
                                <div class="card__bg">
                                    <img src="/photos/@room.ImagePath" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@room.Name</h5>
                                            <div class="card-text">
                                                <p class="card-text-capacity">Kapacitet: @room.Capacity</p>
                                                <p class="card-text-avail">Tilgængelighed: @room.IsAvailable</p>
                                                <p class="card-text-whiteboard">Whiteboard: @room.Whiteboard</p>
                                                <p class="card-text-proj">Projector: @room.Projector</p>
                                            </div>
                                        </div>
                                    <div class="card__btn-body">
                                        <a href="/@room.Id" class="card__btn"ddd>LÆS MERE</a>
                                        @*Tilføjer knap for ledig og optaget*@
                                    <button class="status-btn @(room.IsAvailable ? "available" : "booked")" onclick="toggleAvailability(@room.Id,this)">
                                        @(room.IsAvailable ? "Ledig" : "Optaget")
                                    </button>
                           
                                    </div>
                                </div>
                            </div>
                    </div>
                }
            </div>
        </body>
    <a href="/Create">Book et mødelokale</a>
    